<div class="wrapper">
  <img id="homepageImg" src="https://i.imgur.com/0hgd6Er.jpg" alt="">
</div>
<div class="container">
  <div *ngFor="let post of posts | async">
    <div class="whiteBg">
      <div class="card post-card">
        <img src="{{post.imgUrl}}" class="card-img-top" alt="post image">
        <div class="card-body">
          <h1>{{post.title}}</h1>
          <p>{{post.body}}</p>
          <h6>{{post.postDate}}</h6>
          <button class="btn btn-dark" (click)="goToDetailPage(post)">View Post</button>
          <button class="btn btn-light" (click)="likePost(post)">Like Post</button>
          <p>Likes: {{post.likes}}</p>
          <input type="text" #newComment>
          <button (click)='addComment(post, newComment.value)'>Add Comment</button>
        </div>
      </div>
    </div>
  </div>
</div>
