<div class="wrapper">
  <img id="homepageImg" src="https://i.imgur.com/WzWXw3c.jpg" alt="">
  <h2 id="creatorsImgTitle">CREATORS, COME GET PAID</h2>
  <div id="buttonWrapper">
    <button class="btn btn-warning" id="whatButton" type="button" name="button">WHAT IS PATREON?</button>
    <button class="btn btn-default" id="startButton" type="button" name="button">START MY PAGE</button>
  </div>
</div>


<div class="whiteBg">
  <h2 id="subText">Patreon allows <span id="creatorType">Creators</span> like you to get paid <br> by running a membership business for your fans. </h2>
</div>
<div class="blueBg">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-2">
      <img src="https://i.imgur.com/O7FgPpX.jpg" alt="Bills">
      <h4>A MEANINGFUL REVENUE STREAM</h4>
      <p>Fans pay you a subscription amount of their choice in exchange for exclusive experiences & behind-the-scenes content.</p>
    </div>
    <div class="col-md-2">
      <img src="https://i.imgur.com/vmmR467.jpg" alt="Bulb">
      <h4>REGAIN CREATIVE FREEDOM</h4>
      <p>Predictable income from your patrons means you can create on your terms. No strings attached.</p>
    </div>
    <div class="col-md-2">
      <img src="https://i.imgur.com/3WVTFjR.jpg" alt="Graph">
      <h4>OVER $150 MILLION SENT TO CREATORS</h4>
      <p>An average patron pays more on a monthly basis than consumers pay for Netflix, Spotify, or Amazon Prime.</p>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
<div class="whiteBg">
  <h3 id="tools">THE TOOLS YOU NEED TO MANAGE YOUR BUSINESS</h3>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
      <ul id="perksUl">
        <li>Simple Setup</li>
        <li>Growth Insights</li>
        <li>Content Analytics</li>
        <li>Easy Reward Distribution</li>
        <li>Patron Management</li>
      </ul>
    </div>
    <div class="col-md-3">
      <img src="https://i.imgur.com/49l5gwO.jpg" alt="">
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
<div class="greyBg">
  <h3 id="meet">MEET SOME PATREON CREATORS</h3>
  <div class="someCreators">
    <div class="row">
      <div class="col-md-4">
        <div class="card creatorCard">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <img class="creatorImg" src="https://i.imgur.com/zV3ApPN.jpg" alt="">
              </div>
              <div class="col-md-6">
                <h5 class="creatorHeading"><span class="creatorNameOrg">HoneyBear</span> is creating photography and videos</h5>
                <img class="icon" src="https://i.imgur.com/jH8pUeT.jpg" alt="">
                <p>1,310 Patrons</p>
                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
                <img class="icon" src="https://i.imgur.com/CEz2uDb.jpg" alt=""> <p><strong>Video/Film</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card creatorCard">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <img class="creatorImg" src="https://i.imgur.com/zV3ApPN.jpg" alt="">
              </div>
              <div class="col-md-6">
                <h5 class="creatorHeading"><span class="creatorNameOrg">HoneyBear</span> is creating photography and videos</h5>
                <img class="icon" src="https://i.imgur.com/jH8pUeT.jpg" alt="">
                <p>1,310 Patrons</p>
                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
                <img class="icon" src="https://i.imgur.com/CEz2uDb.jpg" alt=""> <p><strong>Video/Film</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card creatorCard">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <img class="creatorImg" src="https://i.imgur.com/zV3ApPN.jpg" alt="">
              </div>
              <div class="col-md-6">
                <h5 class="creatorHeading"><span class="creatorNameOrg">HoneyBear</span> is creating photography and videos</h5>
                <img class="icon" src="https://i.imgur.com/jH8pUeT.jpg" alt="">
                <p>1,310 Patrons</p>
                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
                <img class="icon" src="https://i.imgur.com/CEz2uDb.jpg" alt=""> <p><strong>Video/Film</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
