.wrapper {
  /* position: absolute; */
}

.wrapper, #homepageImg {
  height: auto;
  width: 100%
}

#subText, #tools {
  text-align: center;
}

.whiteBg {
  padding-top: 50px;
  padding-bottom: 50px;
}

#creatorType {
  color: #F96854;
}

.blueBg {
  padding-top: 75px;
  padding-bottom: 75px;

  background-color: #052D49;
  color: white;
}

#perksUl{
  position: relative;
  right: 90px;
  list-style: none;
  padding-top: 10px
}

li {
  font-weight: bold;
  padding-bottom: 25px
}
