<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="navbar-header">
      <a class="navbar-brand abs" routerLink="">
        <img src="https://i.imgur.com/PxOgZvh.jpg" height="50" alt="">
      </a>
    </div>
    <ul class="navbar-nav ml-auto">
      <!-- <li class="nav-item" ><input class="form-control" type="text" name="Search" placeholder="Search"></li> -->
      <li class="nav-item" ><a class="nav-link" (click)="getTags()">Browse Tags</a></li>
      <div *ngIf="!isLoggedIn">
        <li class="nav-item" ><a class="nav-link" (click)='login()'>Log In</a></li>
      </div>
      <div *ngIf="isLoggedIn">
        <li class="nav-item" ><a class="nav-link" routerLink="admin">Admin</a></li>
        <li class="nav-item" ><a class="nav-link" (click)='logout()'>Log Out</a></li>
      </div>
    </ul>
</nav>
<div *ngIf="isBrowsingTags">
  <nav class="navbar navbar-expand-sm navbar-light bg-dark">
  <div class="navbar-header">
    <ul class="navbar-nav ml-auto">
      <li *ngFor="let tag of tagsArray" class="nav-item tag" (click)=showTag(tag)>
        {{tag}}
      </li>
    </ul>
  </div>
  </nav>
</div>
