<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="navbar-header">
      <a class="navbar-brand abs" routerLink="">
        <img src="https://i.imgur.com/PxOgZvh.jpg" height="50" alt="">
      </a>
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" ><input class="form-control" type="text" name="Search" placeholder="Search"></li>
      <li class="nav-item" ><a class="nav-link" routerLink="categories">Browse Post Categories</a></li>
      <li class="nav-item" ><a class="nav-link" routerLink="admin">Admin</a></li>
    </ul>
</nav>
