<div class="container">
  <h1>Posts Tagged {{selectedTag}}</h1>
  <div *ngFor="let post of posts | async">
    <div *ngIf="containsTag(post.tags)">
      <div class="whiteBg">
        <div class="card post-card">
          <img src="{{post.imgUrl}}" class="card-img-top" alt="post image">
          <div class="card-body">
            <h1>{{post.title}}</h1>
            <p>{{post.body}}</p>
            <h6>{{post.postDate}}</h6>
            <button type="button" name="button" class="btn btn-dark" (click)="goToDetailPage(post)">View Post</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
