.wrapper {
  /* position: absolute; */
}

.wrapper, #homepageImg {
  height: auto;
  width: 100%
}

#subText {
  text-align: center;
}

#subTextPanel {
  padding-top: 50px;
  padding-bottom: 50px;
}

#creatorType {
  color: #F96854;
}

#blueBg {
  padding-top: 75px;
  padding-bottom: 75px;

  background-color: #052D49;
  color: white;
}

/* #creatorsImgTitle {
  color: white;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -550%);
} */

/* #whatButton, #startButton {
  position: relative;
} */
