<nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light">
    <div class="navbar-header">
      <a class="navbar-brand abs" routerLink="">PATREON |</a>
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" ><input class="form-control" type="text" name="Search" placeholder="Search"></li>
      <li class="nav-item" ><a class="nav-link" routerLink="">Start My Page</a></li>
      <li class="nav-item" ><a class="nav-link" routerLink="">Explore Creators</a></li>
      <li class="nav-item" ><a class="nav-link" routerLink="">Sign Up</a></li>
      <li class="nav-item" ><a class="nav-link" routerLink="creator">Log In</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>
