<nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light">
  <!-- <div class="container"> -->
    <div class="navbar-header">
      <a class="navbar-brand abs" routerLink="">PATREON</a>
    </div>
    <ul class="nav justify-content-end">
      <!-- <li class="nav-item" ><a class="nav-link"  routerLink="about">About</a></li> -->
      <li class="nav-item" ><a class="nav-link" routerLink="">Start My Page</a></li>
      <li class="nav-item" ><a class="nav-link" routerLink="">Explore Creators</a></li>
      <li class="nav-item" ><a class="nav-link" routerLink="">Sign Up</a></li>
      <li class="nav-item" ><a class="nav-link" routerLink="">Log In</a></li>
    </ul>
  <!-- </div> -->
</nav>

<div style="container">
  <!-- <router-outlet></router-outlet> -->
</div>
