

/* #creatorsImgTitle {
  color: white;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -550%);
} */

/* #whatButton, #startButton {
  position: relative;
} */
