.wrapper {
    display: flex;
    min-height: 100vh;

}

li{
  list-style: none;
}

.postCard {
  width: 500px;
  margin-bottom: 30px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    color: white;
    background-color: #052D49
}
