.wrapper {
    display: flex;
    min-height: 100vh;
}

.adminOptions {
  margin-bottom: 5px;
  padding: 10px;
  border-style: solid;
  border-color: grey;
  border-radius: 5px;
  border-width: thin;
}

li{
  list-style: none;
}

.postCard {
  width: 500px;
  margin-bottom: 30px;
}
